$border-color: #aaaaaa;
$primary-bg-color: #fafafa;
$primary-color: #555555;
$darker-primary-color: #777777;
$lighter-primary-color: #cccccc;

$primary-link-color: #428bca;
$primary-link-hover-color: #2a6496;

$control-border-color: #66afe9;

$primary-button-bg-color: #ffffff;

$highlight-color: gold;